<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
   
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
   
    <link rel="stylesheet" href="/styles/home.css">
</head>
<body>
    <main>
        
        <div id="content">    
            <div id="content-text">
                <img class="logo" src="/images/logo.png">
                <h1><span>Creative</span><br>Business</h1>
                <h2>Lorem ipsum dolor sit amet, consectetur <br> 
                    adipisicing elit pariatur quibusdam <br> 
                    voluptatem pariatur dolore.</h2>
                    <div>
                        <a href='/register'>S'INSCRIRE</a>
                        <a href='/login'>SE CONNECTER</a>
                    </div>
                
            </div>
            <img class="header-image" src="/images/ejs-idw-img.png" alt="a business woman standing and smiling">
              
        </div>
    </main>
    
</body>
</html>